<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Publish System</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css"></head>
<body>
<div class="container">
    <div class="page-header jumbotron">
        <h1 class="text-center">少年よ大志を抱け！</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-info">
                <div class="panel-heading">文章管理</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'publish_write' %}">发表文章</a></li>
                    <li class="list-group-item"><a href="{% url 'backup' %}">备份数据</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% block main-content %}
            {% endblock %}
        </div>
    </div>
</div>
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>