{% extends 'publish/base.html' %}
{% block main-content %}
    <div class="panel panel-primary">
        <div class="panel-heading">&gt;发表文章</div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="输入标题">
                </div>
                <div class="form-group">
                    <textarea class="form-control" style="min-height: 500px;" placeholder="文章正文">
                    </textarea>
                </div>
                <div class="form-group">
                    <a href="#">文章类别</a>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> 编程
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option2"> 日语
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 生活
                    </label>
                </div>
                <div class="form-group">
                    <a href="#">标签</a>
                </div>
                <button type="submit" class="btn btn-default">发表文章</button>
            </form>
        </div>
    </div>
{% endblock %}