{% extends 'base_site.html' %}
{% block base-container %}
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">我是谁</div>
                <div class="panel-body">
                    <p>梁飞　｜　26岁　｜　njliangfei / gmail.com</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">我会什么</div>
                <div class="panel-body">
                    <p>
                        <dl>
                            <dt>Web开发</dt>
                            <dd>
                                <span class="badge">Django</span>
                                <span class="badge">Node.js</span>
                                <span class="badge">HTML5</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>数据库</dt>
                            <dd>
                                <span class="badge">MongoDB</span>
                                <span class="badge">MySql</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>移动开发</dt>
                            <dd>
                                <span class="badge">Android</span>
                                <span class="badge">PhoneGap</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>编程语言</dt>
                            <dd>
                                <span class="badge">Python</span>
                                <span class="badge">Java</span>
                                <span class="badge">C++</span>
                                <span class="badge">JS</span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>自然语言</dt>
                            <dd>
                                <span class="badge">汉语</span>
                                <span class="badge">英语</span>
                                <span class="badge">日语</span>
                            </dd>
                        </dl>
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">我的作品</div>
                <div class="panel-body">
                    <a href="https://github.com/LyndonChin/catyblog">catyblog</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">我的微博</div>
                <div class="panel-body">
                    <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1670598115&verifier=e778bae3&dpc=1"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}