{% extends 'base.html' %}
{% block base-container %}

    <div class="panel panel-default">
        <div class="panel-heading">个人信息</div>
        <div class="panel-body">
            <p>梁飞　｜　26岁　｜　njliangfei / gmail.com</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">技能一览</div>
        <div class="panel-body">
            <p>
                <dl>
                    <dt>Web开发</dt>
                    <dd>
                        <span class="badge">Django</span>
                        <span class="badge">Node.js</span>
                        <span class="badge">HTML5</span>
                    </dd>
                </dl>
                <dl>
                    <dt>数据库</dt>
                    <dd>
                        <span class="badge">MongoDB</span>
                        <span class="badge">MySql</span>
                    </dd>
                </dl>
                <dl>
                    <dt>移动开发</dt>
                    <dd>
                        <span class="badge">Android</span>
                        <span class="badge">PhoneGap</span>
                    </dd>
                </dl>
                <dl>
                    <dt>编程语言</dt>
                    <dd>
                        <span class="badge">Python</span>
                        <span class="badge">Java</span>
                        <span class="badge">C++</span>
                        <span class="badge">JS</span>
                    </dd>
                </dl>
                <dl>
                    <dt>自然语言</dt>
                    <dd>
                        <span class="badge">汉语</span>
                        <span class="badge">英语</span>
                        <span class="badge">日语</span>
                    </dd>
                </dl>
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">作品</div>
        <div class="panel-body">
            <a href="https://code.csdn.net/FeeLang/lyndonblog">LyndonBlog</a>
        </div>
    </div>

{% endblock %}