{% extends 'base_site.html' %}
{% load staticfiles %}
{% block base-container %}
<div class="row row-offcanvas row-offcanvas-right">
    <article class="col-sm-9">
        <div class="row">
            {% block main-content %}
            {% endblock %}
        </div>
    </article>
    <aside class="col-sm-3" id="sidebar" role="navigation">
        <section class="input-group margin-bottom-sm panel">
            <input class="form-control" type="text" placeholder="请输入关键词">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </section>

        <article class="panel panel-primary">
            <header class="panel-heading">文章分类</header>
            <section>
                <ul class="nav nav-pills nav-stacked">
                    {% for category, number in categories %}
                        <li>
                            <a href="{% url 'category' category.name %}">{{ category.description }}<span class="badge pull-right">{{ number }}</span></a>
                        </li>
                    {% endfor %}

                </ul>
            </section>
        </article>
        <article class="panel panel-default">
            <header class="panel-heading">文章存档</header>
            <section>
                <ul class="nav nav-pills nav-stacked">
                    {% for date, count in archive %}
                        <li><a href="{% url 'archive' date %}">{{ date }}<span class="badge pull-right">{{ count }}</span></a></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
        <article class="panel panel-default">
            <header class="panel-heading">友情链接</header>
            <section>
                <ul class="nav nav-pills nav-stacked">
                    <li><a class="navbar-link" href="http://blog.csdn.net/feelang">我的csdn博客</a></li>
                    <li><a class="navbar-link" href="#">中国端粒研究</a></li>
                </ul>
            </section>
        </article>
        <article class="panel panel-default">
            <header class="panel-heading">技术支持</header>
            <section>
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="https://www.djangoproject.com/" target="_blank">django</a>
                        <a href="http://getbootstrap.com/">Bootstrap</a>
                        <a href="http://www.aliyun.com">阿里云</a>
                    </li>
                </ul>
            </section>
        </article>
    </aside><!--/span-->
</div><!--/row-->
{% endblock %}
{% block js-content %}

{% endblock %}