{% extends 'base.html' %}
{% block blog-main %}
<div>
    <div style="font-size: 30px;">
        <p>能写代码、能说外语</p>
        <p>虽然平庸、却很上进</p>
    </div>
    <hr>
    <h2>关注技术</h2>
    <p>Android | Python | Java | C++ | HTML5 | Google系</p>
    <hr>
    <h2>个人经历</h2>
    <div>2010年毕业于南京某211大学，计算机科班出身，大学期间喜欢参加各种比赛，曾获得过
        <ul>
            <li>江苏省首届大学生程序设计竞赛一等奖</li>
            <li>高教杯大学生数学建模竞赛全国二等奖</li>
        </ul>
    </div>
    <br>
    <p>2009年7月大三下学期，为了体验真实的工程环境，在某嵌入式公司实习半年，并打算以后从事嵌入式开发。</p>

    <p>2010年6月毕业，怀着对日语极大的热情进入南京某日企，转去开发嵌入式软件的自动化测试框架。</p>

    <p>2011年12月通过<strong>JLPT-N1</strong>考试。

    <div>2012年1月正式开始<strong>Android</strong>开发，参与开发了
        <a href="https://play.google.com/store/apps/details?id=com.fujitsu.mobile_phone.fmail&hl=ja">NX!メール</a>
        ，从此一发不可收拾。</div>

    <p>2012年10月东渡求学、在日本游学一年，深入社会底层、做过各种兼职（アルバイト），口语突飞猛进。</p>
    <ul>
        <li>
            <ruby>便利店收银员<rp>(</rp><rt>セブンイレブンのレジ</rt><rp>)</rp></ruby>@
            <a href="https://plus.google.com/108088942892997786734/about?gl=us&hl=en">セブンイレブン</a>
        </li>
        <li>
            <ruby>刷盘子/洗碗/上菜<rp>(</rp><rt>ランナー</rt><rp>)</rp></ruby>@
            <a href="http://reserve.resort.co.jp/hotels../xiv/yama/restaurant/japanese/index.html">日本料理 花木鳥</a>
        </li>
        <li>
            <ruby>日语文字翻译<rp>(</rp><rt>日本語翻訳</rt><rp>)</rp></ruby>@
            <a href="http://www.shubiki.co.jp/">株式会社シュビキ</a>
        </li>
    </ul>
    <p>2013年10月再次回到公司、继续Android开发，带队开发</p>
    <ul>
        <li><a href="http://www.gizmodo.jp/2014/05/arrows_nx_remix.html">なぞってコピー</a></li>
    </ul>
    <p>带着技术改变人生的信念、继续奋斗在Android开发的路上。</p>
</div>
<section id="comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread"
         data-thread-key="http://www.liangfeizc.com/about"
         data-title="关于 Zealous Carrier"
         data-url="http://www.liangfeizc.com/about">
    </div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
        var duoshuoQuery = {short_name:"liangfei"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
    </script>
    <!-- 多说公共JS代码 end -->
</section>
{% endblock %}
