<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Zealous Carrier</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <meta name="author" content="lyndon">
    <script src="{% static 'js/modernizr-latest.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
{#    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">#}
{#    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="#top"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="site-logo" href="/">Zealous Carrier</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% for category in categories %}
                        <li {% if category.name == active_category %} class="active" {% endif %} value={{ active_category }}>
                            <a href="{% url 'list_category' category.name %}">{{ category.description }}</a>
                        </li>
                    {% endfor %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if active_category == 'about' %} class="active" {% endif %}>
                        <a href="{% url 'about_me' %}">关于我</a>
                    </li>
                    <li><a href="http://weibo.com/u/1670598115"><i class="fa fa-weibo"></i></a></li>
                    <li><a href="http://www.douban.com/people/horikitamaki/">豆</a></li>
                    <li><a href="http://www.facebook.com/fee.lang.zc" class="fa fa-facebook"></a></li>
                    <li><a href="https://twitter.com/JpRyouhi" class="fa fa-twitter"></a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </nav><!-- /.navbar -->
    <div class="jumbotron text-center" id="site-slogan">
        <h1>www.<strong>liangfeizc</strong>.com</h1>
        <p><small>梁飞的个人小站 - <i>Zealous Carrier</i></small></p>
    </div>
    <div class="container">

        <!-- application container -->
        {% block base-container %}
        {% endblock %}
        <!-- application container -->
        <div class="text-right"><a href="#top">返回顶部</a></div>
    </div>
        <footer class="text-center" style="background-color: #eeeeee">
            <div>Copy right &copy; 2014 梁飞 </div>
            <div>苏ICP备14029567号</div>
            <div>Powered by <a href="https://github.com/LyndonChin/catyblog">catyblog</a></div>
        </footer>
    <script src="{% static 'jquery/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{#    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>#}
{#    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>#}

    <!-- javascript container -->
    {% block js-content %}
    {% endblock %}
</body>
</html>
